/* Spinner styles */
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.spinner-circle {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #246928;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
body {
  background-color: #EBEBEB;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.dashboard-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 10rem;
  background: linear-gradient(135deg, #EBEBEB, #CAD2C5);
  padding: 0.625rem;
  border: #2469275d solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-logo {
  width: 100%;
  height: auto;
  margin-bottom: 0.9375rem;
  border-radius: 0.4375rem;
}

.main-content {
  flex: 1;
  margin-top: 4.5rem;
  padding: 1.25rem;
  overflow-y: auto; 
  height: calc(100% - 6rem); 
}
.sidebar button {
  display: block;
  width: 100%;
  margin-bottom: 0.625rem;
  padding: 0.625rem;
  font-size: 0.875rem;
}

.topbar {
  width: calc(100% - 10rem - 3.9375rem);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3.75rem;
  background: linear-gradient(135deg, #CAD2C5, #EBEBEB);
  padding: 0 1.25rem;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 998;
  border: #2469275d solid 1px;
}

.user-button {
  color: white !important;
  background-color: #2e7d32a9 !important;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 0.625rem !important;
}

.user-button:hover {
  background-color: #246928 !important;
  transition: 500ms;
}

.map-container {
  height: 100%;
  width: 100%;
  margin-top: 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 1.25rem;
  border-radius: 0.5rem;
  max-width: 31.25rem;
  width: 100%;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 0.625rem;
  right: 1.25rem;
  font-size: 1.875rem;
  font-weight: bold;
  color: #333;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: red;
}

.clickable {
  cursor: pointer;
}