.table-container {
    width: 100%;
    /* max-height: 400px;   */
    overflow-x: auto;   
    overflow-y: auto;   
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.filter-container {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.default-btn {
    background-color: #249b3e;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.default-btn:hover, .copy-btn:hover {
    background-color: #2E7D32;
    color: white;
}

.pagination-btn {
    border: none;
    padding: 8px 10px 3px 10px;
    margin: 0px 10px;
    font-size: large;
    border-radius: 10px;
    background-color: transparent;
    -webkit-transition: background-color 0.3s;
    transition: 300ms;
}

.copy-btn {
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #aaccac;
    -webkit-transition: background-color 0.3s;
    transition: 300ms;
}

.pagination-btn:hover {
    background-color: #aaccac !important;
    -webkit-transition: background-color 0.3s;
    transition: 300ms;
}