.table-container {
    width: 100%;
    /* max-height: 400px;   */
    overflow-x: auto;   
    overflow-y: auto;   
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.875rem;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #cce5ff;
    cursor: pointer;
}

tr.selected {
    background-color: #b3d9ff !important;
}

.filter-container {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.875rem;
}

.filter-container label {
    font-size: 0.875rem;
}

.filter-container select,
.filter-container input {
    font-size: 0.875rem;
}

.default-btn {
    background-color: #249b3e;
    color: white;
    border: none;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.875rem;
}

.default-btn:hover, .copy-btn:hover {
    background-color: #2E7D32;
    color: white;
}

.pagination-btn {
    border: none;
    padding: 0.5rem 0.625rem 0.1875rem 0.625rem;
    margin: 0px 10px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: transparent;
    -webkit-transition: background-color 0.3s;
    transition: 300ms;
}

.copy-btn {
    border: none;
    padding: 0.3125rem 0.625rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #aaccac;
    -webkit-transition: background-color 0.3s;
    transition: 300ms;
}

.pagination-btn:hover {
    background-color: #aaccac !important;
    -webkit-transition: background-color 0.3s;
    transition: 300ms;
}